[submodule "flickering/pypy"]
	path = flickering/pypy
	url = https://github.com/mozillazg/pypy.git
[submodule "pandas"]
	path = pandas
	url = https://github.com/pandas-dev/pandas.git
[submodule "flickering/sympy"]
	path = flickering/sympy
	url = https://github.com/sympy/sympy.git
